body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    color: #f0e7e7;
}

html{
    font-family: "Poppins", sans-serif;
    background-color: #131310;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #131310;
    overflow: auto;
}

section{
    height: 100%;
    width: 450px;
    background-color: black;
    margin: auto;
    
}

.all-reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #131310;
    border-radius: 10px;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    
}

.all-reels::-webkit-scrollbar{
    display: none;
}
.reel{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
}

video{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    object-fit: cover;


    

}


.bottom{
    width: 100%;
    padding: 30px 20px;
    position: absolute;
    bottom: 0;

    
}

.user{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.user img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.user button{
    background: transparent;
    border: 0.1rem solid rgb(142, 133, 133);
    color: white;
    
}

.right{
    transform: translate(100%);
    position: absolute;
    right: 20%;
    top: 50%;
    padding: 2rem;
}

.rgt-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right i{
   font-size: 1.4rem
}

.ri-heart-fill {
    color: red;
}

